*.pyc
SmartChart.egg-info
dist
.idea/
marsyas/
test/
Training/
iTunes
data - Kopie (1).db
data - Kopie (2).db
data - Kopie (3).db
data - Kopie (4).db
data - Kopie (5).db
data - Kopie (6).db
data - Kopie (7).db
data - Kopie.db
data-backup.db
